<!DOCTYPE html>
<html>
  <head>
    <title>RailsEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <!-- Navigation -->
    <%= render 'includes/navigation' %>

    <!-- Page Content -->
    <div class="container">
		
		<!-- Body content -->
		   <%= yield %>

		</div> 
    <!-- /.container -->
    <!-- Footer -->
    <%= render 'includes/footer' %>

     </body>
</html>
