<!DOCTYPE html>
<html>
  <head>
    <title>VIP | Very Important Parties</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body class="<%= current_page?(root_path) ? 'showcase' : '' %>">
 
  	  <!-- Navigation -->
    <%= render 'includes/navigation' %>

    <!-- Page Content -->
    <div class="container">
     
      <div class="flash-messages">
        <%= render 'includes/messages' %>
		  </div>
		<!-- Body content -->
		   <%= yield %>

		</div> 
    <!-- /.container -->
    <!-- Footer -->
    <%= render 'includes/footer' %>

     </body>
</html>
